# Local development (Docker)
#DATABASE_URL="postgresql://postgres:yourpassword@localhost:5432/GFT_Finances"

# Neon (production)
DATABASE_URL="postgresql://USER:PASSWORD@PROJECT.neon.tech/GFT_Finances?sslmode=require"
